html {
    font-family: Helvetica;  
    font-size: 18px;
}

.content {
    max-width: 960px;
    margin: 0 auto;
}

/*---HEADER START---*/
        
header {
    background-color: black;
    color: white;
}

header .logo {
    display: flex;
    align-items: center;
    padding: 12px 0 12px 0.5em;
}

header img {
    margin-right: 1rem;
    height: 1.5rem;
}

/*---HEADER END---*/

/*---BANNER START---*/

.banner {
    background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
    background-size: cover;
    background-position: center;
    height: 25rem;
}

.caption {
    color: white;
    padding: 2rem 3em;
    width: 20rem;
    position: relative;
    font-weight: bold;
    background-color: black;
    top: 9em;
}

h4 {
    padding-bottom: 20px;
}

.caption h1 {
    font-size: 2rem;
    line-height: 2.25rem;
}

/*---BANNER END---*/

/*---MAIN CONTENT START---*/

nav {
    background-color: firebrick;
}

nav ul {
    align-items: center;
    justify-content: space-between;
    padding: 0.75em 0px;
    display: flex;
}

.mobile-nav {
    display: none;
    color: white;
}

.shop, .business-info {
    margin: 3em 0px 0px;
    display: flex;
    justify-content: space-between;
}

.product-img {
    border: 4px solid black;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0px;
    width: 298px;
}

.product-img img {
    max-width: 8rem;
}

h3 {
    background-color: black;
    color: white;
}

.product h3 {
    text-align: center;
    display: block;
    padding: 0.5em;
    width: 288px;
}

.business-info {
    margin-top: 3rem;
}

.info {
    width: 35%;
    margin-bottom: 4rem;
}

.info h3 {
    padding: 1rem 0px 1rem 2rem;
    margin-bottom: 10px;
}

/*---MAIN CONTENT END---*/

/*---FOOTER START---*/

footer {
    background-color: black;
    color: white;
    padding: 5rem 0;
}

.copyright {
    text-align: left;
}

/*---FOOTER END---*/

/*---MEDIA QUERIES START---*/

@media only screen and (max-width: 1024px) {
    .product {
        width: 47%;
    }
    
    html {
        font-size: 16px;
    }
    
    .mobile-nav {
        display: block;
        text-align: center;
    }
    
    nav ul {
        display: none;
    }
}

@media only screen and (max-width: 470px) {
    
    .banner {
        height: 15rem;
    }
    
    html {
        font-size: 0.77rem;
    }
    
    .caption h1 {
    font-size: 1rem;
    line-height: 2.25rem;
    }
    
    .product {
        width: 90%;
    }
    
    .copyright {
    text-align: center;
    }
}



/*---MEDIA QUERIES END---*/







